<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">

    <title>Track System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

    <div class="container my-2">
        <h1 align="center"> Track List </h1>
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>ISRC</th>
                    <th>Name</th>
                    <th>Duration (ms)</th>
                    <th>Explicit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="trackdata : ${listTracks}">
                    <td th:text="${trackdata.ISRC}" />
                    <td th:text="${trackdata.name}" />
                    <td th:text="${trackdata.duration_ms}" />
                    <td th:text="${trackdata.explicit}" />
                </tr>
            </tbody>

        </table>
        <a th:href="@{/codechallenge/showNewTrackForm}" class="btn btn-primary btn-sm mb-3">Add Track</a>
    </div>

</body>

</html>